<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <style>
      body{
        /*  background-image: url('@{/img/slide-1.jpg}'); */
         overflow: hidden;
         background-size: cover;
         background-position: center;
         font-family: "Open Sans", sans-serif;
      }
   </style>

</head>
<body th:style="|background-image: url('@{/img/hero.jpg}')|">
<div class="header">
   <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid pt-3 pb-3" >
        <div style="padding-left: 7rem;">
         <a class="navbar-brand" style="font-size: 2rem;" href="">Make<span style="color: yellow;">My</span>Trip</a>
        </div>

        
        <div class="d-flex" style="padding-right: 6rem;">
         <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto" style="font-size: 1rem;">
              
              <li class="nav-item"style="padding-left: 1rem;">
                <a class="nav-link" th:href="@{/}">HOME</a>
              </li>
              <li class="nav-item"style="padding-left: 1rem;">
                <a class="nav-link" th:href="@{/book}">BOOK TICKET</a>
              </li>
              <li class="nav-item"style="padding-left: 1rem;">
                <a class="nav-link" th:href="@{/history}">BOOKING HISTORY</a>
              </li>
              <li class="nav-item" style="padding-left: 1rem;" >
                <a class="nav-link" th:href="@{/check}">CHECK TICKET STATUS</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </nav>
</div>

<div class="container  text-center " id="hero">
     <div class="row">
      <div class="col-10" style="padding-top: 14rem;padding-left: 12rem;color: azure;">
         
            <h2 class="animated fadeInDown">Welcome to <span style="color: yellow;">MakeMyTrip</span></h2>
            <p class="animated fadeInUp pt-3 pb-3" style="word-spacing: .5rem;line-height: 2rem;">Traveling by train is a popular choice for both short commutes and longer journeys, and for a good reason. With over a thousand routes connecting cities in India, traveling by train is the most convenient mode of travel. The combination of price, convenience, and speed makes train travel a sweet spot for discerning travelers. </p>
            <a th:href="@{/book}" class="btn btn-danger p-2">BOOK HERE</a>
          
      </div>
     </div>
</div>








   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
